@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
  font-family: 'Outfit', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply bg-surface/60 backdrop-blur-md border border-white/10 shadow-xl;
  }
}

body {
  @apply bg-background text-white font-sans antialiased min-h-screen overflow-x-hidden;
}

/* Custom Scrollbar for better UI */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-background;
}
::-webkit-scrollbar-thumb {
  @apply bg-surface rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/50;
}
